<table>
  <tr>
    <th>Posição de chegada</th>
    <th>Código do piloto</th>   
    <th>Nome do piloto</th>
    <th>Quantidade de voltas completadas</th>
    <th>Tempo total de prova</th>
  </tr>   
  <% @pilots.each_with_index do |pilot, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= pilot.pilot_code%><td>
      <td><%= pilot.pilot_name %></td>
      <td><%= LapPresenter.new(pilot.id).total_laps%></td>   
      <td><%= LapPresenter.new(pilot.id).lap_duration %></td>
   <% end %>
</table>
